Flask_Cors==3.0.7
Flask==1.0.2
kubernetes==8.0.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=41.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
